<div class='container'>
<h1>Violators Information</h1>
<%= paginate @Violators_all, window: 2 %>
<%= form_tag(violator_results_search_index_path, method: "get", :class => 'd-inline-block') do %>
    <%= label_tag(:q, "Search for Violator:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Ticket Number</th>
            <th></th>
        </tr>
        </thead>
        <% @Violators_all.each do |velli| %>
        <tr>
            <td><%=velli.name%></td>
            <td><%=velli.ticket_number%></td>
            <td><%=link_to "Click for more info", violator_path(velli)%></td>
        </tr>
        <%end%>
      </table>
</div>