<div class='container'>
<h1>Tickets Information</h1>
<%= paginate @Tickets_all, window: 2 %>
<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Ticket Number</th>
            <th>Issue Date</th>
            <th>Violation</th>
            <th>Street</th>
            <th>More info</th>
        </tr>
        </thead>
        <% @Tickets_all.each do |tikt| %>
        <tr>
            <td><%=tikt.ticket_number%></td>
            <td><%=tikt.issue_date%></td>
            <td><%=tikt.violation%></td>
            <td><%=tikt.street%></td>
            <td><%=link_to "Click for more info", ticket_path(tikt)%></td>
        </tr>
        <%end%>
      </table>
</div>