<div class='container'>
<h1>Tickets#index</h1>
<p>Find me in app/views/tickets/index.html.erb</p>
<%= paginate @Tickets_all, window: 2 %>
<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Ticket Number</th>
            <th>Issue Date</th>
            <th>Violation</th>
            <th>Street</th>
            <th></th>
        </tr>
        </thead>
        <% @Tickets_all.each do |tikt| %>
        <tr>
            <td><%=tikt.ticket_number%></td>
            <td><%=tikt.issue_date%></td>
            <td><%=tikt.violation%></td>
            <td><%=tikt.street%></td>
        </tr>
        <%end%>
      </table>
</div>